<footer class="footer">
    <div class = "title" style = "--text-align:center; --pad-bottom:50px">
        Connect with us!
    </div>
        <!-- Social Media Icons -->
        <div class="social-icons">    
            </a>
            <a href="https://instagram.com" target="_blank">
                <img src="/public/images/icons/instagram.png" alt="Instagram">
            </a>
            <a href="https://linkedin.com" target="_blank">
                <img src="/public/images/icons/linkedin.png" alt="LinkedIn">
            </a>
         <div class="footer-content">
            <p>&copy; 2025 Ludenwright</p>
        </div>
    </div>
</footer>
